body {
  background: #0b0b0b;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 20px;
}

.container {
  width: 420px;
  margin: auto;
}

h1 {
  color: gold;
  font-size: 28px;
}

.card {
  background: #111;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255,215,0,0.3);
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}

button {
  background: gold;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: orange;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #222;
  padding: 10px;
  margin: 6px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-chamar {
  background: red;
  color: white;
  font-size: 20px;
  padding: 15px;
}

/* ===== PAINEL TV ===== */
.tv {
  background: black;
  font-size: 50px;
}

.painel-item {
  background: gold;
  color: black;
  margin: 15px;
  padding: 25px;
  font-size: 60px;
  font-weight: bold;
  border-radius: 12px;
}
